/.cursor
/.cursorrules
/crunchyroll-based-videoplayer.html
/Crunchyroll Default Files
Crunchyroll Default Files/
crunchyroll-based-videoplayer.html/
.cursorrules/
.cursor/
/Release
Release/
/crunchyroll-videoplayer.html
/crunchyroll-videoplayer.html/
/example.html
example.html/